In [198]:
import pandas as pd
import numpy as np

#  csv file to red data from
census_est_19 = "Resources/pop_est19.csv"
keyfile = "Resources/state_abbr list.csv"
geopolitics_file = "Resources/2016_US_County_Level_Presidential_Results.csv"
#covid_total_data = "Resources/final_data_per_state.csv"

# Read state total population into DF
census_df = pd.read_csv(census_est_19)

# Read state abbr into DF
key_abbr_state_df = pd.read_csv(keyfile)

# read covid total deaths as of Ovt. 20th
# total_deaths_by_state_df = pd.read_csv(covid_total_data)

# read in election results per state for 2016b election
presidential_results_2016_df = pd.read_csv(geopolitics_file)

In [154]:
census_df.columns

Index(['SUMLEV', 'REGION', 'DIVISION', 'STATE', 'NAME', 'POPESTIMATE2019',
       'POPEST18PLUS2019', 'PCNT_POPEST18PLUS'],
      dtype='object')

In [155]:

#census_df.drop(census_df["SUMLEV", "REGION", "DIVISION", "STATE", "POPEST18PLUS2019", "PCNT_POPEST18PLUS"], inplace=True)new_census_
new_census = census_df[["NAME", "POPESTIMATE2019"]]
new_census_df = pd.DataFrame(new_census)

new_census_df

                        NAME  POPESTIMATE2019
0              United States        328239523
1                    Alabama          4903185
2                     Alaska           731545
3                    Arizona          7278717
4                   Arkansas          3017804
5                 California         39512223
6                   Colorado          5758736
7                Connecticut          3565287
8                   Delaware           973764
9       District of Columbia           705749
10                   Florida         21477737
11                   Georgia         10617423
12                    Hawaii          1415872
13                     Idaho          1787065
14                  Illinois         12671821
15                   Indiana          6732219
16                      Iowa          3155070
17                    Kansas          2913314
18                  Kentucky          4467673
19                 Louisiana          4648794
20                     Maine          1344212
21                  Maryland          6045680
22             Massachusetts          6892503
23                  Michigan          9986857
24                 Minnesota          5639632
25               Mississippi          2976149
26                  Missouri          6137428
27                   Montana          1068778
28                  Nebraska          1934408
29                    Nevada          3080156
30             New Hampshire          1359711
31                New Jersey          8882190
32                New Mexico          2096829
33                  New York         19453561
34            North Carolina         10488084
35              North Dakota           762062
36                      Ohio         11689100
37                  Oklahoma          3956971
38                    Oregon          4217737
39              Pennsylvania         12801989
40              Rhode Island          1059361
41            South Carolina          5148714
42              South Dakota           884659
43                 Tennessee          6829174
44                     Texas         28995881
45                      Utah          3205958
46                   Vermont           623989
47                  Virginia          8535519
48                Washington          7614893
49             West Virginia          1792147
50                 Wisconsin          5822434
51                   Wyoming           578759
52  Puerto Rico Commonwealth          3193694

In [156]:
census_2019_df = new_census_df.rename(columns={"POPESTIMATE2019":"Estimated Population 2019"})
census_2019_df

                        NAME  Estimated Population 2019
0              United States                  328239523
1                    Alabama                    4903185
2                     Alaska                     731545
3                    Arizona                    7278717
4                   Arkansas                    3017804
5                 California                   39512223
6                   Colorado                    5758736
7                Connecticut                    3565287
8                   Delaware                     973764
9       District of Columbia                     705749
10                   Florida                   21477737
11                   Georgia                   10617423
12                    Hawaii                    1415872
13                     Idaho                    1787065
14                  Illinois                   12671821
15                   Indiana                    6732219
16                      Iowa                    3155070
17                    Kansas                    2913314
18                  Kentucky                    4467673
19                 Louisiana                    4648794
20                     Maine                    1344212
21                  Maryland                    6045680
22             Massachusetts                    6892503
23                  Michigan                    9986857
24                 Minnesota                    5639632
25               Mississippi                    2976149
26                  Missouri                    6137428
27                   Montana                    1068778
28                  Nebraska                    1934408
29                    Nevada                    3080156
30             New Hampshire                    1359711
31                New Jersey                    8882190
32                New Mexico                    2096829
33                  New York                   19453561
34            North Carolina                   10488084
35              North Dakota                     762062
36                      Ohio                   11689100
37                  Oklahoma                    3956971
38                    Oregon                    4217737
39              Pennsylvania                   12801989
40              Rhode Island                    1059361
41            South Carolina                    5148714
42              South Dakota                     884659
43                 Tennessee                    6829174
44                     Texas                   28995881
45                      Utah                    3205958
46                   Vermont                     623989
47                  Virginia                    8535519
48                Washington                    7614893
49             West Virginia                    1792147
50                 Wisconsin                    5822434
51                   Wyoming                     578759
52  Puerto Rico Commonwealth                    3193694

In [157]:
#census_2019_df.drop(census_2019_df[census_2019_df['NAME'] == United States], inplace=True)

In [158]:
narrow_key_abbr = key_abbr_state_df.reset_index()
narrow_key_abbr_df = pd.DataFrame(narrow_key_abbr)
narrow_key_abbr_df

    index                     state state_abbr
0       0                   Alabama         AL
1       1                    Alaska         AK
2       2                   Arizona         AZ
3       3                  Arkansas         AR
4       4                California         CA
5       5                  Colorado         CO
6       6               Connecticut         CT
7       7                  Delaware         DE
8       8      District of Columbia         DC
9       9                   Florida         FL
10     10                   Georgia         GA
11     11                    Hawaii         HI
12     12                     Idaho         ID
13     13                  Illinois         IL
14     14                   Indiana         IN
15     15                      Iowa         IA
16     16                    Kansas         KS
17     17                  Kentucky         KY
18     18                 Louisiana         LA
19     19                     Maine         ME
20     20                  Maryland         MD
21     21             Massachusetts         MA
22     22                  Michigan         MI
23     23                 Minnesota         MN
24     24               Mississippi         MS
25     25                  Missouri         MO
26     26                   Montana         MT
27     27                  Nebraska         NE
28     28                    Nevada         NV
29     29             New Hampshire         NH
30     30                New Jersey         NJ
31     31                New Mexico         NM
32     32                  New York         NY
33     33            North Carolina         NC
34     34              North Dakota         ND
35     35                      Ohio         OH
36     36                  Oklahoma         OK
37     37                    Oregon         OR
38     38              Pennsylvania         PA
39     39              Rhode Island         RI
40     40            South Carolina         SC
41     41              South Dakota         SD
42     42                 Tennessee         TN
43     43                     Texas         TX
44     44                      Utah         UT
45     45                   Vermont         VT
46     46                  Virginia         VA
47     47                Washington         WA
48     48             West Virginia         WV
49     49                 Wisconsin         WI
50     50                   Wyoming         WY
51     51            American Samoa         AS
52     52                      Guam         GU
53     53  Northern Mariana Islands         MP
54     54               Puerto Rico         PR
55     55       U.S. Virgin Islands         VI

In [159]:
census_2019_df

                        NAME  Estimated Population 2019
0              United States                  328239523
1                    Alabama                    4903185
2                     Alaska                     731545
3                    Arizona                    7278717
4                   Arkansas                    3017804
5                 California                   39512223
6                   Colorado                    5758736
7                Connecticut                    3565287
8                   Delaware                     973764
9       District of Columbia                     705749
10                   Florida                   21477737
11                   Georgia                   10617423
12                    Hawaii                    1415872
13                     Idaho                    1787065
14                  Illinois                   12671821
15                   Indiana                    6732219
16                      Iowa                    3155070
17                    Kansas                    2913314
18                  Kentucky                    4467673
19                 Louisiana                    4648794
20                     Maine                    1344212
21                  Maryland                    6045680
22             Massachusetts                    6892503
23                  Michigan                    9986857
24                 Minnesota                    5639632
25               Mississippi                    2976149
26                  Missouri                    6137428
27                   Montana                    1068778
28                  Nebraska                    1934408
29                    Nevada                    3080156
30             New Hampshire                    1359711
31                New Jersey                    8882190
32                New Mexico                    2096829
33                  New York                   19453561
34            North Carolina                   10488084
35              North Dakota                     762062
36                      Ohio                   11689100
37                  Oklahoma                    3956971
38                    Oregon                    4217737
39              Pennsylvania                   12801989
40              Rhode Island                    1059361
41            South Carolina                    5148714
42              South Dakota                     884659
43                 Tennessee                    6829174
44                     Texas                   28995881
45                      Utah                    3205958
46                   Vermont                     623989
47                  Virginia                    8535519
48                Washington                    7614893
49             West Virginia                    1792147
50                 Wisconsin                    5822434
51                   Wyoming                     578759
52  Puerto Rico Commonwealth                    3193694

In [160]:
renamed_census_2019_df = census_2019_df.rename(columns={"NAME":"state"})
renamed_census_2019_df

                       state  Estimated Population 2019
0              United States                  328239523
1                    Alabama                    4903185
2                     Alaska                     731545
3                    Arizona                    7278717
4                   Arkansas                    3017804
5                 California                   39512223
6                   Colorado                    5758736
7                Connecticut                    3565287
8                   Delaware                     973764
9       District of Columbia                     705749
10                   Florida                   21477737
11                   Georgia                   10617423
12                    Hawaii                    1415872
13                     Idaho                    1787065
14                  Illinois                   12671821
15                   Indiana                    6732219
16                      Iowa                    3155070
17                    Kansas                    2913314
18                  Kentucky                    4467673
19                 Louisiana                    4648794
20                     Maine                    1344212
21                  Maryland                    6045680
22             Massachusetts                    6892503
23                  Michigan                    9986857
24                 Minnesota                    5639632
25               Mississippi                    2976149
26                  Missouri                    6137428
27                   Montana                    1068778
28                  Nebraska                    1934408
29                    Nevada                    3080156
30             New Hampshire                    1359711
31                New Jersey                    8882190
32                New Mexico                    2096829
33                  New York                   19453561
34            North Carolina                   10488084
35              North Dakota                     762062
36                      Ohio                   11689100
37                  Oklahoma                    3956971
38                    Oregon                    4217737
39              Pennsylvania                   12801989
40              Rhode Island                    1059361
41            South Carolina                    5148714
42              South Dakota                     884659
43                 Tennessee                    6829174
44                     Texas                   28995881
45                      Utah                    3205958
46                   Vermont                     623989
47                  Virginia                    8535519
48                Washington                    7614893
49             West Virginia                    1792147
50                 Wisconsin                    5822434
51                   Wyoming                     578759
52  Puerto Rico Commonwealth                    3193694

In [238]:
states_population_2019_merge_df = pd.merge(narrow_key_abbr_df, renamed_census_2019_df, on="state", how="left")
states_population_2019_merge_df.set_index(["state_abbr"], inplace=True, append=True)
states_population_2019_merge_df

               index                     state  Estimated Population 2019
   state_abbr
0  AL              0                   Alabama                  4903185.0
1  AK              1                    Alaska                   731545.0
2  AZ              2                   Arizona                  7278717.0
3  AR              3                  Arkansas                  3017804.0
4  CA              4                California                 39512223.0
5  CO              5                  Colorado                  5758736.0
6  CT              6               Connecticut                  3565287.0
7  DE              7                  Delaware                   973764.0
8  DC              8      District of Columbia                   705749.0
9  FL              9                   Florida                 21477737.0
10 GA             10                   Georgia                 10617423.0
11 HI             11                    Hawaii                  1415872.0
12 ID             12                     Idaho                  1787065.0
13 IL             13                  Illinois                 12671821.0
14 IN             14                   Indiana                  6732219.0
15 IA             15                      Iowa                  3155070.0
16 KS             16                    Kansas                  2913314.0
17 KY             17                  Kentucky                  4467673.0
18 LA             18                 Louisiana                  4648794.0
19 ME             19                     Maine                  1344212.0
20 MD             20                  Maryland                  6045680.0
21 MA             21             Massachusetts                  6892503.0
22 MI             22                  Michigan                  9986857.0
23 MN             23                 Minnesota                  5639632.0
24 MS             24               Mississippi                  2976149.0
25 MO             25                  Missouri                  6137428.0
26 MT             26                   Montana                  1068778.0
27 NE             27                  Nebraska                  1934408.0
28 NV             28                    Nevada                  3080156.0
29 NH             29             New Hampshire                  1359711.0
30 NJ             30                New Jersey                  8882190.0
31 NM             31                New Mexico                  2096829.0
32 NY             32                  New York                 19453561.0
33 NC             33            North Carolina                 10488084.0
34 ND             34              North Dakota                   762062.0
35 OH             35                      Ohio                 11689100.0
36 OK             36                  Oklahoma                  3956971.0
37 OR             37                    Oregon                  4217737.0
38 PA             38              Pennsylvania                 12801989.0
39 RI             39              Rhode Island                  1059361.0
40 SC             40            South Carolina                  5148714.0
41 SD             41              South Dakota                   884659.0
42 TN             42                 Tennessee                  6829174.0
43 TX             43                     Texas                 28995881.0
44 UT             44                      Utah                  3205958.0
45 VT             45                   Vermont                   623989.0
46 VA             46                  Virginia                  8535519.0
47 WA             47                Washington                  7614893.0
48 WV             48             West Virginia                  1792147.0
49 WI             49                 Wisconsin                  5822434.0
50 WY             50                   Wyoming                   578759.0
51 AS             51            American Samoa                        NaN
52 GU             52                      Guam                        NaN
53 MP             53  Northern Mariana Islands                        NaN
54 PR             54               Puerto Rico                        NaN
55 VI             55       U.S. Virgin Islands                        NaN

In [229]:
#clean_states_population_2019 = states_population_2019_merge_df.dropna()
#clean_states_populations_2019_df = pd.DataFrame(clean_states_population_2019)
#clean_states_populations_2019_df

In [239]:
#best_state_df = clean_states_populations_2019_df.set_index(["state_abbr"], inplace=True)
#clean_states_populations_2019_df.set_index(['state_abbr'], inplace=True)
#clean_states_populations_2019_df

In [245]:
states_population_2019_merge_df.count()

index                        56
state                        56
Estimated Population 2019    51
dtype: int64

In [250]:
#clean_states_populations_2019_df[total_deaths_Jan20_Oct20] = ""
narrow_final_state = states_population_2019_merge_df.dropna()
narrow_final_state_df = pd.DataFrame(narrow_final_state)
narrow_final_state_df

               index                 state  Estimated Population 2019
   state_abbr
0  AL              0               Alabama                  4903185.0
1  AK              1                Alaska                   731545.0
2  AZ              2               Arizona                  7278717.0
3  AR              3              Arkansas                  3017804.0
4  CA              4            California                 39512223.0
5  CO              5              Colorado                  5758736.0
6  CT              6           Connecticut                  3565287.0
7  DE              7              Delaware                   973764.0
8  DC              8  District of Columbia                   705749.0
9  FL              9               Florida                 21477737.0
10 GA             10               Georgia                 10617423.0
11 HI             11                Hawaii                  1415872.0
12 ID             12                 Idaho                  1787065.0
13 IL             13              Illinois                 12671821.0
14 IN             14               Indiana                  6732219.0
15 IA             15                  Iowa                  3155070.0
16 KS             16                Kansas                  2913314.0
17 KY             17              Kentucky                  4467673.0
18 LA             18             Louisiana                  4648794.0
19 ME             19                 Maine                  1344212.0
20 MD             20              Maryland                  6045680.0
21 MA             21         Massachusetts                  6892503.0
22 MI             22              Michigan                  9986857.0
23 MN             23             Minnesota                  5639632.0
24 MS             24           Mississippi                  2976149.0
25 MO             25              Missouri                  6137428.0
26 MT             26               Montana                  1068778.0
27 NE             27              Nebraska                  1934408.0
28 NV             28                Nevada                  3080156.0
29 NH             29         New Hampshire                  1359711.0
30 NJ             30            New Jersey                  8882190.0
31 NM             31            New Mexico                  2096829.0
32 NY             32              New York                 19453561.0
33 NC             33        North Carolina                 10488084.0
34 ND             34          North Dakota                   762062.0
35 OH             35                  Ohio                 11689100.0
36 OK             36              Oklahoma                  3956971.0
37 OR             37                Oregon                  4217737.0
38 PA             38          Pennsylvania                 12801989.0
39 RI             39          Rhode Island                  1059361.0
40 SC             40        South Carolina                  5148714.0
41 SD             41          South Dakota                   884659.0
42 TN             42             Tennessee                  6829174.0
43 TX             43                 Texas                 28995881.0
44 UT             44                  Utah                  3205958.0
45 VT             45               Vermont                   623989.0
46 VA             46              Virginia                  8535519.0
47 WA             47            Washington                  7614893.0
48 WV             48         West Virginia                  1792147.0
49 WI             49             Wisconsin                  5822434.0
50 WY             50               Wyoming                   578759.0

In [ ]:
state_populations = narrow

In [263]:
# Read in total deaths per state as of October 19th, 2020
keyfile = "Resources/state_abbr list.csv"
key_abbr_state_df = pd.read_csv(keyfile)

death_file = "Resources/final_death_per_state.csv"
covid_death_total = pd.read_csv(death_file)
covid_death_file_df = pd.DataFrame(covid_death_total)
covid_death_file_df.head()

        state  Total Deaths from January 2020 to October 2020
0     Alabama                                            2789
1      Alaska                                              63
2     Arizona                                            5830
3    Arkansas                                            1714
4  California                                           16987

In [282]:
# ceate dataframe that has the total number of deaths per state, which lasted from 01/21/2020 through 10/20/2020
covid_death_abbr_merged_df = pd.merge(key_abbr_state_df, covid_death_file_df, on="state", how="left")
#clean_covid_death_state_abbr_df = covid_death_abbr_merged_df.dropna()
#clean_covid_death_state_abbr_df 
total_state_deaths = covid_death_abbr_merged_df.dropna()
total_state_deaths_df = pd.DataFrame(total_state_deaths)
total_state_deaths_df

             state state_abbr  Total Deaths from January 2020 to October 2020
0          Alabama         AL                                          2789.0
1           Alaska         AK                                            63.0
2          Arizona         AZ                                          5830.0
3         Arkansas         AR                                          1714.0
4       California         CA                                         16987.0
5         Colorado         CO                                          2207.0
6      Connecticut         CT                                          4554.0
7         Delaware         DE                                           666.0
9          Florida         FL                                         16020.0
10         Georgia         GA                                          7479.0
11          Hawaii         HI                                           186.0
12           Idaho         ID                                           535.0
13        Illinois         IL                                          9520.0
14         Indiana         IN                                          3960.0
15            Iowa         IA                                          1548.0
16          Kansas         KS                                           872.0
17        Kentucky         KY                                          1381.0
18       Louisiana         LA                                          5766.0
19           Maine         ME                                           146.0
20        Maryland         MD                                          4041.0
21   Massachusetts         MA                                          9753.0
22        Michigan         MI                                          7364.0
23       Minnesota         MN                                          2292.0
24     Mississippi         MS                                          3171.0
25        Missouri         MO                                          2660.0
26         Montana         MT                                           242.0
27        Nebraska         NE                                           568.0
28          Nevada         NV                                          1714.0
29   New Hampshire         NH                                           468.0
30      New Jersey         NJ                                         16214.0
31      New Mexico         NM                                           935.0
32        New York         NY                                         32990.0
33  North Carolina         NC                                          3969.0
34    North Dakota         ND                                           413.0
35            Ohio         OH                                          5075.0
36        Oklahoma         OK                                          1173.0
37          Oregon         OR                                           630.0
38    Pennsylvania         PA                                          8562.0
39    Rhode Island         RI                                          1159.0
40  South Carolina         SC                                          3661.0
41    South Dakota         SD                                           323.0
42       Tennessee         TN                                          2896.0
43           Texas         TX                                         17564.0
44            Utah         UT                                           547.0
45         Vermont         VT                                            58.0
46        Virginia         VA                                          3457.0
47      Washington         WA                                          2357.0
48   West Virginia         WV                                           399.0
49       Wisconsin         WI                                          1624.0
50         Wyoming         WY                                            57.0

In [310]:
per_capita_deaths_merged_df = pd.merge
(total_state_deaths_df["Total Deaths from January 2020 to October 2020"] / (narrow_final_state_df["Estimated Population 2019"]*100), on="state", how="left")

per_capita_deaths_merged_df

AttributeError: module 'pandas' has no attribute 'join'

In [294]:
output_data = "Resources/total_deaths_gf.csv"
total_state_deaths_df.to_csv(output_data)

In [295]:
output_data = "Resources/total_population_gf.csv"
narrow_final_state_df.to_csv(output_data)

In [306]:
# per capita = measurement / number of people in a population
total_death = ["Total Deaths from January 2020 to October 2020"]
total_population = ["Estimated Population 2019"]
deaths_per_capita = ["Total Deaths from January 2020 to October 2020"] / ["Estimated Population 2019"]*100)")
total_state_deaths_df[deaths_per_capita]

SyntaxError: invalid syntax (<ipython-input-306-27a066e681e4>, line 4)

In [ ]:
df['total_deaths'] state_deaths_per_capita = ((total_deaths / total_population) * 100000)