In [14]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import plotly.express as px
import geopandas as gpd

In [15]:
# state lat and long df

state_coord_df = pd.read_csv('Resources/state_geocoord.csv', header=0)
state_coord_df = state_coord_df.rename(columns={'name':'States'})
state_coord_df.head()

  state   latitude   longitude      States
0    AK  63.588753 -154.493062      Alaska
1    AL  32.318231  -86.902298     Alabama
2    AR  35.201050  -91.831833    Arkansas
3    AZ  34.048928 -111.093731     Arizona
4    CA  36.778261 -119.417932  California

In [16]:
# poli and covid df

df = pd.read_csv('Resources/combined_df_ct.csv', header=0)
df.rename(columns={'Party Score':'party_score'})
df.head()

,States,date,Total positive,Total negaitive,Total test,Total Deaths,votes_dem,votes_gop,Party Score
0,Alabama,Apr,6038.0,73879.0,79917.0,4044,718084.0,1306925.0,0.549445
1,Alabama,Aug,38335.0,257485.0,289359.0,58883,718084.0,1306925.0,0.549445
2,Alabama,Jul,49678.0,233137.0,280879.0,38436,718084.0,1306925.0,0.549445
3,Alabama,Jun,20142.0,168957.0,184836.0,23697,718084.0,1306925.0,0.549445
4,Alabama,Mar,981.0,6288.0,7269.0,42,718084.0,1306925.0,0.549445

In [17]:
# fip location df

fips = pd.read_csv('Resources/us-states.csv', dtype={'fips': str}, header=0)
fips = fips.rename(columns={'state':'States'})
fips.head()

         date      States fips  cases  deaths
0  2020-01-21  Washington   53      1       0
1  2020-01-22  Washington   53      1       0
2  2020-01-23  Washington   53      1       0
3  2020-01-24    Illinois   17      1       0
4  2020-01-24  Washington   53      1       0

In [18]:
# merge poli and covid df with fips df

merged = df.merge(fips, on='States')
data = merged.merge(state_coord_df, on='States')
data.drop_duplicates()
new_data = data.rename(columns={'Party Score':'poli_score'})
new_data.head(30)

,States,date_x,Total positive,Total negaitive,Total test,Total Deaths,votes_dem,votes_gop,poli_score,date_y,fips,cases,deaths,state,latitude,longitude
0,Alabama,Apr,6038.0,73879.0,79917.0,4044,718084.0,1306925.0,0.549445,2020-03-13,01,6,0,AL,32.318231,-86.902298
1,Alabama,Apr,6038.0,73879.0,79917.0,4044,718084.0,1306925.0,0.549445,2020-03-14,01,12,0,AL,32.318231,-86.902298
2,Alabama,Apr,6038.0,73879.0,79917.0,4044,718084.0,1306925.0,0.549445,2020-03-15,01,23,0,AL,32.318231,-86.902298
3,Alabama,Apr,6038.0,73879.0,79917.0,4044,718084.0,1306925.0,0.549445,2020-03-16,01,29,0,AL,32.318231,-86.902298
4,Alabama,Apr,6038.0,73879.0,79917.0,4044,718084.0,1306925.0,0.549445,2020-03-17,01,39,0,AL,32.318231,-86.902298
5,Alabama,Apr,6038.0,73879.0,79917.0,4044,718084.0,1306925.0,0.549445,2020-03-18,01,51,0,AL,32.318231,-86.902298
6,Alabama,Apr,6038.0,73879.0,79917.0,4044,718084.0,1306925.0,0.549445,2020-03-19,01,78,0,AL,32.318231,-86.902298
7,Alabama,Apr,6038.0,73879.0,79917.0,4044,718084.0,1306925.0,0.549445,2020-03-20,01,106,0,AL,32.318231,-86.902298
8,Alabama,Apr,6038.0,73879.0,79917.0,4044,718084.0,1306925.0,0.549445,2020-03-21,01,131,0,AL,32.318231,-86.902298
9,Alabama,Apr,6038.0,73879.0,79917.0,4044,718084.0,1306925.0,0.549445,2020-03-22,01,157,0,AL,32.318231,-86.902298
10,Alabama,Apr,6038.0,73879.0,79917.0,4044,718084.0,1306925.0,0.549445,2020-03-23,01,196,0,AL,32.318231,-86.902298
11,Alabama,Apr,6038.0,73879.0,79917.0,4044,718084.0,1306925.0,0.549445,2020-03-24,01,242,0,AL,32.318231,-86.902298
12,Alabama,Apr,6038.0,73879.0,79917.0,4044,718084.0,1306925.0,0.549445,2020-03-25,01,386,1,AL,32.318231,-86.902298
13,Alabama,Apr,6038.0,73879.0,79917.0,4044,718084.0,1306925.0,0.549445,2020-03-26,01,538,3,AL,32.318231,-86.902298
14,Alabama,Apr,6038.0,73879.0,79917.0,4044,718084.0,1306925.0,0.549445,2020-03-27,01,639,4,AL,32.318231,-86.902298
15,Alabama,Apr,6038.0,73879.0,79917.0,4044,718084.0,1306925.0,0.549445,2020-03-28,01,720,4,AL,32.318231,-86.902298
16,Alabama,Apr,6038.0,73879.0,79917.0,4044,718084.0,1306925.0,0.549445,2020-03-29,01,830,5,AL,32.318231,-86.902298
17,Alabama,Apr,6038.0,73879.0,79917.0,4044,718084.0,1306925.0,0.549445,2020-03-30,01,947,11,AL,32.318231,-86.902298
18,Alabama,Apr,6038.0,73879.0,79917.0,4044,718084.0,1306925.0,0.549445,2020-03-31,01,999,14,AL,32.318231,-86.902298
19,Alabama,Apr,6038.0,73879.0,79917.0,4044,718084.0,1306925.0,0.549445,2020-04-01,01,1108,28,AL,32.318231,-86.902298
20,Alabama,Apr,6038.0,73879.0,79917.0,4044,718084.0,1306925.0,0.549445,2020-04-02,01,1270,32,AL,32.318231,-86.902298
21,Alabama,Apr,6038.0,73879.0,79917.0,4044,718084.0,1306925.0,0.549445,2020-04-03,01,1535,38,AL,32.318231,-86.902298
22,Alabama,Apr,6038.0,73879.0,79917.0,4044,718084.0,1306925.0,0.549445,2020-04-04,01,1632,44,AL,32.318231,-86.902298
23,Alabama,Apr,6038.0,73879.0,79917.0,4044,718084.0,1306925.0,0.549445,2020-04-05,01,1840,45,AL,32.318231,-86.902298
24,Alabama,Apr,6038.0,73879.0,79917.0,4044,718084.0,1306925.0,0.549445,2020-04-06,01,2005,53,AL,32.318231,-86.902298
25,Alabama,Apr,6038.0,73879.0,79917.0,4044,718084.0,1306925.0,0.549445,2020-04-07,01,2197,64,AL,32.318231,-86.902298
26,Alabama,Apr,6038.0,73879.0,79917.0,4044,718084.0,1306925.0,0.549445,2020-04-08,01,2498,67,AL,32.318231,-86.902298
27,Alabama,Apr,6038.0,73879.0,79917.0,4044,718084.0,1306925.0,0.549445,2020-04-09,01,2838,78,AL,32.318231,-86.902298
28,Alabama,Apr,6038.0,73879.0,79917.0,4044,718084.0,1306925.0,0.549445,2020-04-10,01,3008,80,AL,32.318231,-86.902298
29,Alabama,Apr,6038.0,73879.0,79917.0,4044,718084.0,1306925.0,0.549445,2020-04-11,01,3262,93,AL,32.318231,-86.902298

In [19]:
new_data.to_csv('Resources/new_data.csv')

In [20]:
# TEST* create choropleth map based on merged df and use fips as locations and party score as the color 

# set locations variable to lat and long
locations = new_data[['latitude','longitude']].astype(float)

fig = px.choropleth( new_data,locations=locations, color= new_data['poli_score'], 
                   color_continuous_scale='Viridis',
                   range_color = (0.0,23.0), 
                   scope= 'usa'
                   )

fig.update_layout(margin={r:'0',t:'0',l:'0',b:'0'})
fig.show()

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().