In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import plotly.express as px

In [2]:
# state lat and long df

state_coord_df = pd.read_csv('Resources/state_geocoord.csv', header=0)
state_coord_df = state_coord_df.rename(columns={'name':'States'})
state_coord_df.head()

  state   latitude   longitude      States
0    AK  63.588753 -154.493062      Alaska
1    AL  32.318231  -86.902298     Alabama
2    AR  35.201050  -91.831833    Arkansas
3    AZ  34.048928 -111.093731     Arizona
4    CA  36.778261 -119.417932  California

In [3]:
# poli and covid df

df = pd.read_csv('Resources/combined_df_ct.csv', header=0)
df.rename(columns={'Party Score':'party_score'})
df.head()

,States,date,Total positive,Total negaitive,Total test,Total Deaths,votes_dem,votes_gop,Party Score
0,Alabama,Apr,6038.0,73879.0,79917.0,4044,718084.0,1306925.0,0.549445
1,Alabama,Aug,38335.0,257485.0,289359.0,58883,718084.0,1306925.0,0.549445
2,Alabama,Jul,49678.0,233137.0,280879.0,38436,718084.0,1306925.0,0.549445
3,Alabama,Jun,20142.0,168957.0,184836.0,23697,718084.0,1306925.0,0.549445
4,Alabama,Mar,981.0,6288.0,7269.0,42,718084.0,1306925.0,0.549445

In [4]:
# fip location df

fips = pd.read_csv('Resources/us-states.csv', dtype={'fips': str}, header=0)
fips = fips.rename(columns={'state':'States'})
fips.head()

         date      States fips  cases  deaths
0  2020-01-21  Washington   53      1       0
1  2020-01-22  Washington   53      1       0
2  2020-01-23  Washington   53      1       0
3  2020-01-24    Illinois   17      1       0
4  2020-01-24  Washington   53      1       0

In [5]:
# merge poli and covid df with fips df

merged = df.merge(fips, on='States')
data = merged.merge(state_coord_df, on='States')
data.drop_duplicates()
new_data = data.rename(columns={'Party Score':'poli_score'})
new_data.head()

,States,date_x,Total positive,Total negaitive,Total test,Total Deaths,votes_dem,votes_gop,poli_score,date_y,fips,cases,deaths,state,latitude,longitude
0,Alabama,Apr,6038.0,73879.0,79917.0,4044,718084.0,1306925.0,0.549445,2020-03-13,01,6,0,AL,32.318231,-86.902298
1,Alabama,Apr,6038.0,73879.0,79917.0,4044,718084.0,1306925.0,0.549445,2020-03-14,01,12,0,AL,32.318231,-86.902298
2,Alabama,Apr,6038.0,73879.0,79917.0,4044,718084.0,1306925.0,0.549445,2020-03-15,01,23,0,AL,32.318231,-86.902298
3,Alabama,Apr,6038.0,73879.0,79917.0,4044,718084.0,1306925.0,0.549445,2020-03-16,01,29,0,AL,32.318231,-86.902298
4,Alabama,Apr,6038.0,73879.0,79917.0,4044,718084.0,1306925.0,0.549445,2020-03-17,01,39,0,AL,32.318231,-86.902298

In [6]:
new_data.to_csv('Resources/new_data.csv')

In [13]:
# TEST* create choropleth map based on merged df and use fips as locations and party score as the color 

# set locations variable to lat and long
locations = new_data[['latitude','longitude']].astype(float)

fig = px.choropleth(new_data,locations=locations, color= new_data['poli_score'],
                   color_continuous_scale='Viridis',
                   range_color = (0.0,23.0),
                   scope= 'usa'
                   )

fig.update_layout(margin={'r':0,'t':0,'l':0,'b':0})
fig.show()

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().