In [5]:
import pandas as pd

In [6]:
final_analysis_to_load = "Output/final_dataframe.csv"

keyfile = "Resources/state_abbr list.csv"
keydf = pd.read_csv(keyfile)

final_analysis_to_load = pd.read_csv(final_analysis_to_load)

keydf.head()

        state state_abbr
0     Alabama         AL
1      Alaska         AK
2     Arizona         AZ
3    Arkansas         AR
4  California         CA

In [23]:
final_df = pd.DataFrame(final_analysis_to_load)

In [24]:
final_df.head()

,States,date,Total positive,Total negaitive,Total test,Total Deaths,votes_dem,votes_gop,Party Score
0,Alabama,Apr,6038.0,73879.0,79917.0,4044,718084.0,1306925.0,0.549445
1,Alabama,Aug,38335.0,257485.0,289359.0,58883,718084.0,1306925.0,0.549445
2,Alabama,Jul,49678.0,233137.0,280879.0,38436,718084.0,1306925.0,0.549445
3,Alabama,Jun,20142.0,168957.0,184836.0,23697,718084.0,1306925.0,0.549445
4,Alabama,Mar,981.0,6288.0,7269.0,42,718084.0,1306925.0,0.549445

In [29]:
final_df.columns

Index(['States', 'date', 'Total positive', 'Total negaitive', 'Total test',
       'Total Deaths', 'votes_dem', 'votes_gop', 'Party Score'],
      dtype='object')

In [69]:
state_death_per_capita_df = pd.DataFrame(final_df, columns=["States", "date", "Total positive", "Total negaitive", "Total test",
       "Total Deaths", "votes_dem", "votes_gop", "Party Score"])

In [70]:
state_death_per_capita_df.head()

,States,date,Total positive,Total negaitive,Total test,Total Deaths,votes_dem,votes_gop,Party Score
0,Alabama,Apr,6038.0,73879.0,79917.0,4044,718084.0,1306925.0,0.549445
1,Alabama,Aug,38335.0,257485.0,289359.0,58883,718084.0,1306925.0,0.549445
2,Alabama,Jul,49678.0,233137.0,280879.0,38436,718084.0,1306925.0,0.549445
3,Alabama,Jun,20142.0,168957.0,184836.0,23697,718084.0,1306925.0,0.549445
4,Alabama,Mar,981.0,6288.0,7269.0,42,718084.0,1306925.0,0.549445

In [71]:
state_death_per_capita_df.tail()

,States,date,Total positive,Total negaitive,Total test,Total Deaths,votes_dem,votes_gop,Party Score
449,Wyoming,Jun,584.0,8695.0,9279.0,555,55949.0,174248.0,0.321088
450,Wyoming,Mar,109.0,1999.0,2108.0,0,55949.0,174248.0,0.321088
451,Wyoming,May,344.0,14588.0,14932.0,300,55949.0,174248.0,0.321088
452,Wyoming,Oct,3578.0,13542.0,17120.0,1101,55949.0,174248.0,0.321088
453,Wyoming,Sep,2106.0,22781.0,24887.0,1375,55949.0,174248.0,0.321088