In [1]:
import pandas as pd 
statepolitics_file = "Resources/2016_US_County_Level_Presidential_Results.csv"

statepolitics_pd = pd.read_csv(statepolitics_file)

statepolitics_pd.head()
statepolitics_pd.drop(["total_votes", "diff", "per_point_diff", "state_abbr", "combined_fips"], axis = 1)

      Unnamed: 0  votes_dem  votes_gop   per_dem   per_gop        county_name
0              0    93003.0   130413.0  0.377159  0.528870             Alaska
1              1    93003.0   130413.0  0.377159  0.528870             Alaska
2              2    93003.0   130413.0  0.377159  0.528870             Alaska
3              3    93003.0   130413.0  0.377159  0.528870             Alaska
4              4    93003.0   130413.0  0.377159  0.528870             Alaska
...          ...        ...        ...       ...       ...                ...
3136        3136     3233.0    12153.0  0.194046  0.729428  Sweetwater County
3137        3137     7313.0     3920.0  0.600608  0.321945       Teton County
3138        3138     1202.0     6154.0  0.149261  0.764187       Uinta County
3139        3139      532.0     2911.0  0.143203  0.783580    Washakie County
3140        3140      294.0     2898.0  0.088182  0.869226      Weston County

[3141 rows x 6 columns]