In [2]:
import pandas as pd
geopolitics_file = "Resources/2016_US_County_Level_Presidential_Results.csv"
import numpy as np
geopolitics_df = pd.read_csv(geopolitics_file)

In [3]:
geopolitics_df.head()

,Unnamed: 0,votes_dem,votes_gop,total_votes,per_dem,per_gop,diff,per_point_diff,state_abbr,county_name,combined_fips
0,0,93003.0,130413.0,246588.0,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2013
1,1,93003.0,130413.0,246588.0,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2016
2,2,93003.0,130413.0,246588.0,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2020
3,3,93003.0,130413.0,246588.0,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2050
4,4,93003.0,130413.0,246588.0,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2060

In [4]:
geopolitics_df.shape

(3141, 11)

In [5]:
geopolitics_df.drop(["Unnamed: 0"], axis=1, inplace=True)

In [6]:
geopolitics_df.count()

votes_dem         3141
votes_gop         3141
total_votes       3141
per_dem           3141
per_gop           3141
diff              3141
per_point_diff    3141
state_abbr        3141
county_name       3141
combined_fips     3141
dtype: int64

In [7]:
geopolitics_df.drop(["per_dem", "per_gop", "diff"], inplace=True, axis=1)

In [8]:
geopolitics_df.drop(["per_point_diff", "combined_fips"], inplace=True, axis=1)

In [9]:
geopolitics_df_duplicates_removed = pd.DataFrame.drop_duplicates(geopolitics_df)

In [10]:
clean_politics_2016_df = pd.DataFrame(geopolitics_df_duplicates_removed)

In [11]:
clean_politics_2016_df

      votes_dem  votes_gop  total_votes state_abbr        county_name
0       93003.0   130413.0     246588.0         AK             Alaska
29       5908.0    18110.0      24661.0         AL     Autauga County
30      18409.0    72780.0      94090.0         AL     Baldwin County
31       4848.0     5431.0      10390.0         AL     Barbour County
32       1874.0     6733.0       8748.0         AL        Bibb County
...         ...        ...          ...        ...                ...
3136     3233.0    12153.0      16661.0         WY  Sweetwater County
3137     7313.0     3920.0      12176.0         WY       Teton County
3138     1202.0     6154.0       8053.0         WY       Uinta County
3139      532.0     2911.0       3715.0         WY    Washakie County
3140      294.0     2898.0       3334.0         WY      Weston County

[3113 rows x 5 columns]

In [12]:
clean_politics_2016_df.duplicated()

0       False
29      False
30      False
31      False
32      False
        ...
3136    False
3137    False
3138    False
3139    False
3140    False
Length: 3113, dtype: bool

In [13]:
clean_politics_2016_df.shape

(3113, 5)

In [14]:
clean_politics_2016_df

      votes_dem  votes_gop  total_votes state_abbr        county_name
0       93003.0   130413.0     246588.0         AK             Alaska
29       5908.0    18110.0      24661.0         AL     Autauga County
30      18409.0    72780.0      94090.0         AL     Baldwin County
31       4848.0     5431.0      10390.0         AL     Barbour County
32       1874.0     6733.0       8748.0         AL        Bibb County
...         ...        ...          ...        ...                ...
3136     3233.0    12153.0      16661.0         WY  Sweetwater County
3137     7313.0     3920.0      12176.0         WY       Teton County
3138     1202.0     6154.0       8053.0         WY       Uinta County
3139      532.0     2911.0       3715.0         WY    Washakie County
3140      294.0     2898.0       3334.0         WY      Weston County

[3113 rows x 5 columns]

In [15]:
# I created the new column "poli_pref" by dividing the rows in the "votes_dem" column by the rows in the "votesd_gop" column.

clean_politics_2016_df["poli_pref"] = (clean_politics_2016_df["votes_dem"]/clean_politics_2016_df["votes_gop"]).round(2)

In [16]:
clean_politics_2016_df.tail()

,votes_dem,votes_gop,total_votes,state_abbr,county_name,poli_pref
3136,3233.0,12153.0,16661.0,WY,Sweetwater County,0.27
3137,7313.0,3920.0,12176.0,WY,Teton County,1.87
3138,1202.0,6154.0,8053.0,WY,Uinta County,0.20
3139,532.0,2911.0,3715.0,WY,Washakie County,0.18
3140,294.0,2898.0,3334.0,WY,Weston County,0.10

In [17]:
sum(clean_politics_2016_df["poli_pref"])

2064.4700000000007

In [19]:

# I did not set up te calculation so that a poli_pref value of "1" represents a neutral county. 
# Instead it was set-up so that the higher the poli_pref value you is, the more democractics the county is.
# the DataFrame below has the order of counties listed by their poli-pref number, 
# in descending order, i.e. Washington D.C is the most Democratic county


clean_politics_2016_df.sort_values(["poli_pref"], ascending=False)

,votes_dem,votes_gop,total_votes,state_abbr,county_name,poli_pref
316,260223.0,11553.0,280272.0,DC,District of Columbia,22.52
1206,313627.0,29290.0,351091.0,MD,Prince George's County,10.71
2411,2504.0,241.0,2896.0,SD,Oglala County,10.39
1982,318403.0,34424.0,358857.0,NY,Bronx County,9.25
223,312443.0,34493.0,365295.0,CA,San Francisco County,9.06
...,...,...,...,...,...,...
1613,34.0,653.0,715.0,MT,Garfield County,0.05
1865,14.0,257.0,286.0,NE,McPherson County,0.05
1843,20.0,367.0,394.0,NE,Grant County,0.05
2718,20.0,524.0,550.0,TX,Roberts County,0.04
2656,5.0,149.0,159.0,TX,King County,0.03

In [20]:
# I grouped the clean_politics_2016 DataFrame by the states abbreviated name. 
# this should help us to get the data we need on the state level vs. the county level
# There is a big discrepancy between the Dataframe brfotre I did the groupby (3113 vs 244) 

clean_politics_2016_df.groupby(clean_politics_2016_df["state_abbr"])

In [21]:
clean_politics_2016_df.head()

    votes_dem  votes_gop  total_votes state_abbr     county_name  poli_pref
0     93003.0   130413.0     246588.0         AK          Alaska       0.71
29     5908.0    18110.0      24661.0         AL  Autauga County       0.33
30    18409.0    72780.0      94090.0         AL  Baldwin County       0.25
31     4848.0     5431.0      10390.0         AL  Barbour County       0.89
32     1874.0     6733.0       8748.0         AL     Bibb County       0.28

In [22]:
county_vote_2016_df = clean_politics_2016_df.set_index(["state_abbr"])

In [23]:
#county_vote_2016_df = clean_politics_2016_df.set_index(["state_abbr"])

In [24]:
#county_vote_2016_df.set_index(["state_abbr", "votes_dem", "votes_gop", "total_votes", "poli_pref", "county_name"])

In [25]:
county_vote_2016_df.head()

            votes_dem  votes_gop  total_votes     county_name  poli_pref
state_abbr
AK            93003.0   130413.0     246588.0          Alaska       0.71
AL             5908.0    18110.0      24661.0  Autauga County       0.33
AL            18409.0    72780.0      94090.0  Baldwin County       0.25
AL             4848.0     5431.0      10390.0  Barbour County       0.89
AL             1874.0     6733.0       8748.0     Bibb County       0.28

In [26]:
len(county_vote_2016_df)

3113

In [27]:
county_vote_2016_df.duplicated()

state_abbr
AK    False
AL    False
AL    False
AL    False
AL    False
      ...
WY    False
WY    False
WY    False
WY    False
WY    False
Length: 3113, dtype: bool

In [28]:
county_vote_2016_df

            votes_dem  votes_gop  total_votes        county_name  poli_pref
state_abbr
AK            93003.0   130413.0     246588.0             Alaska       0.71
AL             5908.0    18110.0      24661.0     Autauga County       0.33
AL            18409.0    72780.0      94090.0     Baldwin County       0.25
AL             4848.0     5431.0      10390.0     Barbour County       0.89
AL             1874.0     6733.0       8748.0        Bibb County       0.28
...               ...        ...          ...                ...        ...
WY             3233.0    12153.0      16661.0  Sweetwater County       0.27
WY             7313.0     3920.0      12176.0       Teton County       1.87
WY             1202.0     6154.0       8053.0       Uinta County       0.20
WY              532.0     2911.0       3715.0    Washakie County       0.18
WY              294.0     2898.0       3334.0      Weston County       0.10

[3113 rows x 5 columns]

In [29]:
county_vote_2016_df.nunique()

votes_dem      2688
votes_gop      2901
total_votes    2966
county_name    1848
poli_pref       301
dtype: int64

In [30]:

county_politics_2016_df = pd.DataFrame.drop_duplicates(county_vote_2016_df)

In [31]:
county_politics_2016_df.head()

            votes_dem  votes_gop  total_votes     county_name  poli_pref
state_abbr
AK            93003.0   130413.0     246588.0          Alaska       0.71
AL             5908.0    18110.0      24661.0  Autauga County       0.33
AL            18409.0    72780.0      94090.0  Baldwin County       0.25
AL             4848.0     5431.0      10390.0  Barbour County       0.89
AL             1874.0     6733.0       8748.0     Bibb County       0.28

In [32]:
county_politics_2016_df.

SyntaxError: invalid syntax (<ipython-input-32-af348eeec4cf>, line 1)

In [33]:
county_politics_2016_df.reset_index()

,state_abbr,votes_dem,votes_gop,total_votes,county_name,poli_pref
0,AK,93003.0,130413.0,246588.0,Alaska,0.71
1,AL,5908.0,18110.0,24661.0,Autauga County,0.33
2,AL,18409.0,72780.0,94090.0,Baldwin County,0.25
3,AL,4848.0,5431.0,10390.0,Barbour County,0.89
4,AL,1874.0,6733.0,8748.0,Bibb County,0.28
...,...,...,...,...,...,...
3108,WY,3233.0,12153.0,16661.0,Sweetwater County,0.27
3109,WY,7313.0,3920.0,12176.0,Teton County,1.87
3110,WY,1202.0,6154.0,8053.0,Uinta County,0.20
3111,WY,532.0,2911.0,3715.0,Washakie County,0.18
3112,WY,294.0,2898.0,3334.0,Weston County,0.10

In [34]:
data_group_by=clean_politics_2016_df.groupby(clean_politics_2016_df['state_abbr'])
votes_dem = data_group_by['votes_dem'].sum()
votes_gop = data_group_by['votes_gop'].sum()
poli_pref = data_group_by['poli_pref'].mean()
test = votes_dem/votes_gop
df= pd.DataFrame({'votes_dem':votes_dem,
                  'votes_gop':votes_gop,
                  'test':test})
df

            votes_dem  votes_gop       test
state_abbr
AK            93003.0   130413.0   0.713142
AL           718084.0  1306925.0   0.549445
AR           378729.0   677904.0   0.558676
AZ           936250.0  1021154.0   0.916855
CA          7362490.0  3916209.0   1.880004
CO          1212209.0  1137455.0   1.065720
CT           884432.0   668266.0   1.323473
DC           260223.0    11553.0  22.524279
DE           235581.0   185103.0   1.272702
FL          4485745.0  4605515.0   0.973994
GA          1837300.0  2068623.0   0.888175
HI           266827.0   128815.0   2.071397
IA           650790.0   798923.0   0.814584
ID           189677.0   407199.0   0.465809
IL          2977498.0  2118179.0   1.405688
IN          1031953.0  1556220.0   0.663115
KS           414788.0   656009.0   0.632290
KY           628834.0  1202942.0   0.522747
LA           779535.0  1178004.0   0.661742
MA          1964768.0  1083069.0   1.814075
MD          1497951.0   873646.0   1.714597
ME           354873.0   334838.0   1.059835
MI          2268193.0  2279805.0   0.994907
MN          1366676.0  1322891.0   1.033098
MO          1054889.0  1585753.0   0.665229
MS           462001.0   678457.0   0.680958
MT           174521.0   274120.0   0.636659
NC          2162074.0  2339603.0   0.924120
ND            93526.0   216133.0   0.432724
NE           273858.0   485819.0   0.563704
NH           348521.0   345789.0   1.007901
NJ          2021756.0  1535513.0   1.316665
NM           380724.0   315875.0   1.205300
NV           537753.0   511319.0   1.051698
NY          4143874.0  2640570.0   1.569310
OH          2317001.0  2771984.0   0.835864
OK           419788.0   947934.0   0.442845
OR           934631.0   742506.0   1.258752
PA          2844705.0  2912941.0   0.976575
RI           249902.0   179421.0   1.392825
SC           849469.0  1143611.0   0.742795
SD           117442.0   227701.0   0.515773
TN           867110.0  1517402.0   0.571444
TX          3867816.0  4681590.0   0.826176
UT           274188.0   452086.0   0.606495
VA          1916845.0  1731156.0   1.107263
VT           178179.0    95053.0   1.874523
WA          1610524.0  1129120.0   1.426353
WI          1380823.0  1403694.0   0.983707
WV           187457.0   486198.0   0.385557
WY            55949.0   174248.0   0.321088

In [1]:
state_covid_totals = states_df.sort_values('date').groupby('state abv.').last()

NameError: name 'states_df' is not defined